<nav class="navbar navbar-expand-lg sticky-top justify-content-between" data-bs-theme="dark">
  <div class="container-fluid ">
    <div class="collapse navbar-collapse d-flex justify-content-between">
      <form class="input-group">
        <input type="search" class="form-control search" placeholder="Type query" aria-label="Search" />
        <button class="btn btn-outline-primary" type="button" data-mdb-ripple-color="dark">
          Search
        </button>
      </form>
      <div class="nav-item me-3 me-lg-0 d-flex align-items-center">
        <a class="nav-link account" href="/users/{{current_user.id}}">
          {{ current_user.username }}
        </a>
        <div class="dropdown">
          <button class="dropdown-toggle btn btn-outline-primary avt" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{ url_for('static', filename='image/avt.jpg') }}" class="rounded-circle dropdown-toggle" height="40" alt="" loading="lazy" />
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="/users/{{current_user.id}}">Profile</a></li>
            <li><a class="dropdown-item" href="/auth/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>