<nav class="navbar navbar-expand-lg sticky-top justify-content-between" data-bs-theme="dark">
   <div class="container-fluid ">
      <div class="collapse navbar-collapse d-flex justify-content-between" >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
          <form class="input-group" style="width: 400px">
      <input type="search" class="form-control" placeholder="Type query" aria-label="Search" />
      <button class="btn btn-outline-primary" type="button" data-mdb-ripple-color="dark" style="padding: .45rem 1.5rem .35rem;">
        Search
      </button>
    </form>
        <div class="nav-item me-3 me-lg-0 d-flex align-items-center">
            <a class="nav-link" href="#">
            <img src="../static/image/avt.jpg" class="rounded-circle" height="30"
              alt="" loading="lazy" />
          </a>
<div class="dropdown">
  <button class="dropdown-toggle btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
  </button>
  <ul class="dropdown-menu dropdown-menu-end">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>
        </div>
    </div>
  </div>
</nav>