{% extends 'base.html' %}
{% block title %}
TASKS
{% endblock %}

{% block content %}
<div>
  <h1 class="text-center">New Task</h1>
  <form method="POST" class="total-form-group">
    {{ form.hidden_tag() }}

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          {{ form.name.label(class="form-control-label") }}
          {% if form.name.errors %}
          {{ form.name(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.name.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ form.name(class="form-control form-control-lg") }}
          {% endif %}
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          {{ form.description.label(class="form-control-label") }}
          {% if form.description.errors %}
          {{ form.description(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.description.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ form.description(class="form-control form-control-lg") }}
          {% endif %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          {{ form.date_start.label(class="form-control-label") }}
          {{ form.date_start(class="form-control form-control-lg") }}
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          {{ form.date_end.label(class="form-control-label") }}
          {{ form.date_end(class="form-control form-control-lg") }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          {{ form.priority.label(class="form-control-label") }}
          {% if form.priority.errors %}
          {{ form.priority(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.priority.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ form.priority(class="form-control form-control-lg") }}
          {% endif %}
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          {{ form.status.label(class="form-control-label") }}
          {% if form.status.errors %}
          {{ form.status(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.status.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ form.status(class="form-control form-control-lg") }}
          {% endif %}
        </div>
      </div>
    </div>

    
    
  
    <div class="form-group">
      {{ form.project_id.label(class="form-control-label") }}
      {% if form.project_id.errors %}
      {{ form.project_id(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.project_id.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %}
      {{ form.project_id(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    {% block header %}
    {{ form.submit(class="submit-form-group") }}
    {% endblock %}
  </form>

</div>
{% endblock %}