{% extends 'base.html' %}
{% block title %}
PROJECT
{% endblock %}

{% block content %}
<div class="project-table-container">
  <table class="project-table">
    <thead class="project-table-header">
      <tr>
        <th>Project Name</th>
        <th>Project Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody class="project-table-body">
      {% for project in projects %}
      <tr class="project-row">
        <td class="project-cell">
          <a href="/projects/{{ project.id }}" class="project-link">
            <div class="project-name">{{ project.name }}</div>
          </a>
        </td>
        <td class="project-cell">
          <a href="/projects/{{ project.id }}" class="project-link">
            <div class="project-description">{{ project.description }}</div>
          </a>
        </td>
        <td class="project-cell">
          <a href="/projects/{{ project.id }}/edit" class="project-edit-link">
            <div class="project-edit-button">Edit</div>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}