/* Sider */
.sidebar {
  width: 280px;
  height: 100vh;
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 20px;
}

.sidebar a {
  color: #ecf0f1;
  text-decoration: none;
  transition: all 0.3s ease;
}

.sidebar a:hover {
  color: #3498db;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.project-badge {
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: bold;
  margin-right: 10px;
}

.project-sidebar {
  color: #f0f0f0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  line-height: 1.5;
}

/* End Sidebar */

/* Login */
.login-background {
  background-image: url('https://images.unsplash.com/photo-1506905925346-21bda4d32df4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.login {
  width: 30%;
  border: 1px solid none;
  padding: 30px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 50%;
  /* Đưa form vào giữa màn hình theo chiều dọc */
  left: 50%;
  /* Đưa form vào giữa màn hình theo chiều ngang */
  transform: translate(-50%, -50%);
}

.login .login-title {
  text-align: center;
  color: #fff;
}

 .login-button {
  display: block;
  /* Giúp nút thành block element */
  width: fit-content;
  /* Đảm bảo nút vừa với nội dung */
  margin: 0 auto;
  /* Căn giữa nút bấm trong form */
  width: 100%;
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.register-row1 {
  display: flex;
  justify-content: space-between;
}

.register-row1-col1 {
  width: 48%;
}

.login-a {
  margin-left: 10px;
  text-decoration: none;
}

/* End Login */

/* Page-Index */
.page-index {
  background-image: url('https://images.unsplash.com/photo-1506905925346-21bda4d32df4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.page-home {
  border: 1px solid none;
  padding: 20px 50px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: none;
  color: white;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  width: 20%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.page-home:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transform: scale(1.05);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.page-home button{
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.page-home button a{
  color: white;
  text-decoration: none;
}

/* End Page-Index */

.navbar{
  background-color: #2c3e50;
}
<<<<<<< Updated upstream
.navbar-item a{
  color: #ecf0f1;
=======
/* List task */
.project{
  background-color: #ccc;
  white-space: nowrap;
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 12px 32px;
  overflow-y: auto;
  overflow-x: hidden;
}
.project-col{
  padding: 8px 6px;
  height: fit-content;
  background-color: #f5f5f5;
  width: 320px;
  margin-right: 12px;
  border-radius: 15px;
  border: none;
  display: inline-flex;
  flex-direction: column;
  max-height: 100%;
}

.project-header{
  height:32px;
  padding: 0 6px;
 
}

.project-header h4{
  
    user-select: none;
    color: #555;
    margin: 0;
    line-height: 32px;
    text-transform: capitalize;
  
}

.project-detail{
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 2px 6px;
}

.project-detail::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.project-detail::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

.project-detail::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 10px;
}

.task{
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 8px 0;
  border-radius: 10px;
  transition: background-color 0.2s;
  padding: 8px;
  background-color: #fff;
}
.task:hover{
  background-color: #8bb2cb;
  cursor: pointer;
}
.task div{
  color: #6288a1;
}
.task div p{
  flex:1;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 18px;
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 4px 0;
  color: #6288a1;
  text-transform: capitalize;
}
.task:hover div {
color: #fff;
}
.task:hover div p{
  color: #fff;
  }
.task div span{
  margin-right: 4px;
}
.drag-over{
  background-color: lightblue;
  cursor: pointer;
>>>>>>> Stashed changes
}